	<div class="jumbotron text-center"><h3>Log in</h3></div>

	<div class="container">
		<div class="width-30" style="width:100%; display: flex; flex-direction:column;">
			<div class="form-group">
				<div class="col-md-4 col-md-offset-4">
					<input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="user.email">
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-4 col-md-offset-4">
					<input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password">
				</div>
			</div>
			<div class="button-group" style="display:flex; flex-direction:column; align-items:center; justify-content: center;">
				<div class="button1"  style="align-self:center;">
					<button type="button" class="btn btn-primary" ng-click="login()" style="padding:10px; margin:10px;">Log In</button>
				</div>
				<div class="button2" style="align-self:center;">
					<button type="button" class="btn btn-warning" style="padding:10px; margin:10px;">Sign Up</button> 
				</div>
			</div>
		</div>
	</div>